/*
!/local/
!/local/**
!/composer.json
!/composer.lock
!/phpstan.neon
!/.php-cs-fixer.dist.php
!/.gitignore
/vendor/

/upload/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/html_pages/

/node_modules/
.idea/